html,
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100%;
	height: 100%;
	background: #121212;
	color: white;
	margin: 0;
	padding: 0;
}

a {
	color: #21b1b1;
	text-decoration: none;
	transition: color .25s ease-in-out;
}

a:hover {
	color: #33cccc;
}

h1,
h2 {
	font-weight: 600;
}

h1 {
	margin: 0;
	font-size: 16vw;
	line-height: 1em;
	position: relative;
	bottom: -2.5vw;
	letter-spacing: -.075em;
}

h2 {
	font-size: 3rem;
	margin: 0;
	text-align: center;
	padding: 6rem 0 0;
}

h3 {
	margin: 0;
	padding: 2rem 0 0;
	white-space: nowrap;
}

h3,
#links {
	font-weight: normal;
	font-size: 2rem;
}

header,
#cyberspace {
	width: 100vw;
	height: 98vh;
}

header {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: white;
	text-align: center;
}

#links {
	margin: 0;
	padding: 0;
	background: #fff;
}

#links ul {
	margin: 0;
	padding: 4rem 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 6rem;
}

#links li {
	display: block;
	text-align: right;
}

#links li:last-child {
	text-align: left;
}

#links li a {
	text-align: right;
	position: relative;
	top: -.4rem;
}

#links li a:before {
	display: inline-block;
	content: '';
	background: url(media/icons/github.svg) no-repeat center left;
	background-size: 100% 100%;
	width: 1em;
	height: 0;
	padding: 1.5em 0 0 0;
	margin-right: .25em;
	position: relative;
	top: .4em;
}

#links li a.linkedin:before {
	background-image: url(media/icons/linkedin.svg);
}

#works {
	background-color: #222;
	color: white;
	box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, .15);
}

#cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	padding: 3rem 4rem;
}

.card {
	border-radius: 4rem 0rem 4rem 0;
	overflow: hidden;
	display: block;
	background: white;
	color: black;
	padding: 0;
	margin: 0;
	box-shadow:
		0 0 1rem 1px rgba(0, 0, 0, .05),
		1px 2px 1rem 1px rgba(0, 0, 0, .05);
}

.card a,
.card p,
.card cite {
	display: block;
}

.card.unavailable {
	opacity: .5;
}

.card.unavailable a {
	cursor: not-allowed;
}

.card p,
.card cite {
	padding: 0 2rem;
}

.card p {
	margin: 0;
	line-height: 1.4;
}

.card blockquote {
	color: #888;
	text-align: center;
}

.card cite {
	font-size: .8rem;
	margin: 0;
	padding: 1rem 2rem 2rem;
}

cite a {
	color: #999;
}

cite.appstore {
	text-align: center;
}

cite.appstore a {
	display: inline-block;
	overflow: hidden;
	background: url(vendor/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg) no-repeat;
	width: 135px;
	height: 0;
	padding: 40px 0 0 0;
	background-size: contain;
}

a.title {
	padding: 0 2rem;
	margin: 0;
}

a.image img {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	background: white;
	width: 100%;
	height: 35vh;
	min-height: 20rem;
	object-fit: cover;
}

a.image.dark img {
	background-color: black;
}

a.image img.pad {
	width: calc(100% - 2rem);
	padding: 2rem 1rem;
	height: calc(35vh - 4rem);
	width: calc(100% - 2rem);
}

a.image img.scale {
	object-fit: contain;
}

footer {
	display: flex;
	justify-content: center;
	padding: 6rem 0 10rem 0;
}

footer img {
	display: block;
	width: 4rem;
	opacity: .1;
}

@media all and (max-width:80rem) {
	#cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (max-width: 60rem) {

	header,
	#cyberspace {
		height: 88vh;
	}

	h3,
	#links {
		font-size: 1.6rem;
	}

	#links ul,
	#cards {
		display: block;
	}

	#cards {
		padding: 3rem 2rem;
	}

	#links {}

	#links li:first-child {
		margin-bottom: 2rem;
	}

	#links li,
	#links li:last-child {
		text-align: center;
	}

	.card {
		margin-bottom: 2rem;
	}
}