:root {
  font-family: "Zalando Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html,
body {
	width: 100%;
	height: 100%;
	background: #121212;
	color: white;
	margin: 0;
	padding: 0;
}

a {
	color: #21b1b1;
	text-decoration: none;
	transition: color .25s ease-in-out;
}

a:hover {
	color: #33cccc;
}

h1,
h2 {
	font-weight: 600;
	font-family: "Zalando Sans Expanded", sans-serif;
}

h1 {
	margin: 0;
	font-size: 16vw;
	font-weight: 600;
	line-height: 1em;
	position: relative;
	bottom: -2.5vw;
	letter-spacing: -.085em;
	user-select: none;
	-webkit-user-select: none;
}

h2 {
	font-size: 8vw;
	margin: 0;
	text-align: center;
	padding: 2em 1em 1em;
}

h3 {
	margin: 0;
	padding: 2rem 0 0;
}

h3,
#links,
.card cite {
	font-weight: normal;
	font-size: 2rem;
	font-family: "Zalando Sans Expanded", sans-serif;
	font-weight: 400;
	white-space: nowrap;
}

header,
#cyberspace {
	width: 100vw;
	height: 98vh;
}

header {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: white;
	text-align: center;
}

#links {
	margin: 0;
	padding: 0;
	background: #fff;
}

#links ul {
	margin: 0;
	padding: 4rem 0 5rem;
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

#links li {
	flex: 1;
	display: block;
	text-align: center;
}

#links li.avatar {
	border-radius: 100%;
	overflow: hidden;
	width: 10rem;
	height: 10rem;
	margin: -5rem;
	position: relative;
	top: 5rem;
}

#links li.avatar img {
	width: 100%;
	height: 100%;
}

#links li a {
	text-align: right;
	position: relative;
	top: -.4rem;
}

#avatar {
	position: relative;
}

#avatar img {
	position: absolute;
	top: -5rem;
	left: calc(50% - 5rem);
	width: 10rem;
	height: 10rem;
}

#works {
	background-color: #222;
	color: white;
	box-shadow: inset 0 0 2rem 1rem rgba(0, 0, 0, .15);
	padding: 5rem 4rem;
}

#cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 4rem;
	padding: 3rem 0;
}

.card {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: white url(./media/bg.gif) repeat center center;
	color: black;
	padding: 0;
	margin: 0;
	box-shadow:
		0 0 1rem 1px rgba(0, 0, 0, .5),
		1px 2px 1rem 1px rgba(0, 0, 0, .5);
}

.card a,
.card p,
.card cite {
	display: block;
}

.card.unavailable {
	opacity: .5;
}

.card.unavailable a {
	cursor: not-allowed;
}

.card p,
.card cite {
	padding: 0 2rem;
}

.card p {
	margin: 0;
	line-height: 1.4;
	flex: auto;
}

.card blockquote {
	color: #888;
	text-align: center;
}

.card cite {
	justify-self: flex-end;
	font-size: 2rem;
	font-weight: 200;
	margin: 0;
	padding: 4rem 2rem 2rem;
	font-style: normal;
}

cite a {
	color: #999;
}

cite a:before {
	content: "://";
	opacity: .35;
}

cite.appstore {
	text-align: center;
}

cite.appstore a {
	display: inline-block;
	overflow: hidden;
	background: url(vendor/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg) no-repeat;
	width: 135px;
	height: 0;
	padding: 40px 0 0 0;
	background-size: contain;
}

a.title {
	padding: 0 2rem 1rem;
	margin: 0;
}

a.image img {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	background: white;
	width: 100%;
	height: 35vh;
	min-height: 20rem;
	object-fit: cover;
}

a.image.dark img {
	background-color: black;
}

a.image img.pad {
	width: calc(100% - 2rem);
	padding: 2rem 1rem;
	height: calc(35vh - 4rem);
	width: calc(100% - 2rem);
}

a.image img.scale {
	object-fit: contain;
}

footer {
	display: flex;
	justify-content: center;
	padding: 20em 0;
}

footer img {
	display: block;
	width: 10rem;
	opacity: 1;
}

@media all and (max-width:120rem) {
	#cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media all and (max-width:90rem) {
	#cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (max-width: 70rem) {

	header,
	#cyberspace {
		height: 88vh;
	}

	h3,
	#links,
	#cards cite {
		font-size: 1.4rem;
	}

	#works {
		padding: 5rem 2rem;
	}

	#cards {
		display: block;
	}

	#links {
		padding-bottom: 5rem;
	}

	#links ul {
		flex-direction: column;
	}

	#links li,
	#links li:last-child {
		text-align: center;
	}

	#links li.link a:before {
		display: none;
	}

	.card {
		margin-bottom: 2rem;
	}
}