html, body, #resume {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: europa, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-size: 16pt;
  line-height: 1.4;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  background: black url(koolau.gif) no-repeat top left;
  background-size: auto 100%;
  overflow: hidden;
}

#resume {
  font-size: .75rem;
}
a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}
#overview {
  width: 25vw;
  background: rgba(0,0,0,.75);
  padding: 2rem;
  color: white;
  text-align: center;
  overflow-y: auto;
}
#basics {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
#basics img {
  margin: 2rem 0 2em;
  display: block;
  width: 50%;
  background: rgba(0,0,0,.125);
  border-radius: 100%;
}
#basics h1, #basics h2 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0;
}
/*#basics h1 {
  font-family: chicken scratch extended;
  font-size: 3em;
}*/
#basics h2 {
  color: rgba(255,255,255,.5);
  font-weight: 500;
}
#basics p {
  flex: 1;
  font-weight: 300;
  margin-top: 2em;
}

#contact {
  font-size: 1.4em;
  font-weight: 300;
}

#profiles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 0;
}

#contact a, #profiles a {
  display: block;
  color: rgba(255,255,255,.5);
  transition: all ease .5s;
}
#contact a:hover, #profiles a:hover {
  color: rgba(255,255,255,1);
}
#contact a {
  color: rgba(255, 255, 255, .35);
}

#details {
  flex: 1;
  background: whiteSmoke;
  overflow-y: auto;
}

#work {
  padding: 2rem;
}

#work h3, #work h4, #work h5, #work h6, #work p, #work li {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#work a {
  color: black;
  border-bottom: 1px dashed #09f;
}

#work h3 {
  text-align: center;
  font-size: 1.6em;
  margin-bottom: 1.4rem;
}

#work select {
  display: block;
  text-transform: capitalize;
  margin: 0 auto 2rem;
  font-size: 12pt;
}

#work h4, #work h5, #work h6 {
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}
#work h4 {
  font-weight: normal;
}
#work h5, #work h6 {
  display: block;
}

#work h6.duration {
  position: absolute;
  font-size: .6em;
  line-height: 1;
  font-weight: normal;
  top: 0;
  right: .8rem;
  border-radius: 0 0 .25rem .25rem;
  background: rgba(0,0,0,.025);
  color: rgba(0,0,0,.5);
  padding: .8em 1.2em;
}

#work h6.location {
  font-size: .6em;
  line-height: 2.8;
  color: rgba(0,0,0,.5);
  text-transform: uppercase;
  font-weight: 600;
}

#work p {
  font-size: .8em;
}

#work ul {
  font-size: .8em;
  margin: 0;
  padding: 0 4em;
}

#work ul {
  display: none;
}

#work ul.active {
  display: block;
}

#work p, #work li {
  margin: 1em 0;
}

#work li {
  color: rgba(0,0,0,.75);
}

#work p {
  margin: 2em 0;
}

#work .job {
  position: relative;
  margin: 0 0 2rem 0;
  padding: 1.8rem 1.4rem;
  background: white;
  border-radius: .25rem;
  box-shadow: 0 .125em .25em rgba(50, 50, 50, .1);
  font-size: 1.2em;
}

#kuokoa {
  width: 25%;
  opacity: .25;
  margin: 0 auto;
  transition: opacity .25s ease;
}

#kuokoa:hover {
  opacity: 1;
}

#mahina, #wai, #kai {
  stroke: white;
}

#moku {
  fill: white;
}

@media (max-width: 768px), print {
  #resume {
    display: block;
    overflow: auto;
    height: auto;
  }
  #overview {
    width: auto;
  }
  #overview, #details {
    overflow: auto;
  }
  #basics img {
    margin-top: 0;
    width: auto;
    height: 25vh;
  }
  #work {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #work .job {
    margin: 1px 0 0;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
  #work ul {
    padding: 0 2em;
  }
}


@media print {
  html, body, #resume {
    overflow: visible !important;
  }
  body * {
    background-image: none !important;
    background-color: white !important;
    color: black !important;
    display: block !important;
    text-align: left !important;
  }
  script {
    display: none !important;
  }
  h1, h2 {
    text-align: center !important;
  }
  #kuokoa {
    display: none !important;
  }
  #overview {
    padding-bottom: 0;
  }
  /* #work {
    page-break-before: always;
  } */
  #work .job {
    font-size: 1em;
    padding: .9rem 1.4rem;
  }
  #contact {
    padding: 1em 0 0;
  }
  #contact a {
    text-align: center !important;
  }
  #work h6.duration {
    position: relative;
    width: 14em;
    padding: 0;
    left: auto;
    right: auto;
    display: inline !imporant;
  }
  #profiles {
    padding-bottom: 0;
  }
  #profiles a {
    position: relative;
    color: rgba(0,0,0,0) !important;
  }
  #profiles a:after {
    color: black !important;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 0;
    left: calc(25%);
    display: block;
    content: attr(href);
  }
  #basics img {
    height: 10em;
    margin: 0 auto 1.4rem;
  }
  #work {
    padding-top: 0;
  }
  #work h3 {
    text-align: center !important;
    margin-bottom: 0;
    padding-top: 2em;
  }
  #work select {
    display: none !important;
  }
  #work a {
    display: inline !important;
    border: none;
  }

  #work ul.highlights {
    display: none !important;
  }

  #work ul.technical {
    display: block !important;
  }
}
